<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0 , Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PointCloudUtils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0 , Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PointCloudUtils.Properties.Settings>
            <setting name="ScannerMode" serializeAs="String">
                <value>Color</value>
            </setting>
            <setting name="BackgroundRemoved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InterpolateFrames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileDepth" serializeAs="String">
                <value>ListOfPoints.obj</value>
            </setting>
            <setting name="EntropyImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveAndStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CutFrames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CutFrameMaxDistance" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CutFrameMinDistance" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SaveImageIfQualityIsBetterThan" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="FileColorInfoWithDepth" serializeAs="String">
                <value>1.obj</value>
            </setting>
            <setting name="RotatePointCloud" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InterpolationNumberOfFrames" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SnapshotNumberOfImages" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ShowOpenGLWindow" serializeAs="String">
                <value>False</value>
            </setting>
        </PointCloudUtils.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
