<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenTK.Extension.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenTK.Extension.Properties.Settings>
            <setting name="ShowAxes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PointSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PointSizeAxis" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ViewMode" serializeAs="String">
                <value />
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="ColorModels" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ShowAxesLabels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowModelAxes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Fill" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PointCloudCentered" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Lighting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NormalMapping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenGL_FaceCull" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PointCloudResize" serializeAs="String">
                <value>True</value>
            </setting>
        </OpenTK.Extension.Properties.Settings>
    </userSettings>
</configuration>