<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="OpenTKExtension.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <userSettings>
        <OpenTKExtension.Properties.Settings>
            <setting name="PointSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowAxes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewMode" serializeAs="String">
                <value>Points</value>
            </setting>
            <setting name="PointSizeAxis" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PointCloudCentered" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowModelAxes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAxesLabels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorModels" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>100, 100, 255</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Fill" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCameraFOV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilePointCloudLast1" serializeAs="String">
                <value>PointCloudLast1.obj</value>
            </setting>
            <setting name="FilePointCloudLast2" serializeAs="String">
                <value>PointCloudLast2.obj</value>
            </setting>
            <setting name="FilePointCloudLast3" serializeAs="String">
                <value>PointCloudLast3.obj</value>
            </setting>
            <setting name="FilePointCloudLast4" serializeAs="String">
                <value>PointCloudLast4.obj</value>
            </setting>
            <setting name="BoundingBoxLeftStartsAt000" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPointCloudAsTexture" serializeAs="String">
                <value>False</value>
            </setting>
        </OpenTKExtension.Properties.Settings>
    </userSettings>
</configuration>
